@model ProyectoEFSRT.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StkProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StkProd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProducto", new {  id = Model.CodProd }, new { @class = "btn btn-success btn-sm" }) |
    @Html.ActionLink("Volver", "IndexProductos" ,null,new { @class = "btn btn-primary btn-sm" })
</p>
