@model ProyectoEFSRT.Models.TipoUsuario

@{
    ViewBag.Title = "DeleteTUsuario";
}

<h2>Eliminar Tipo</h2>

<div>
    <h4>TipoUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTpu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomTpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomTpu)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a Lista", "IndexTUsuario", null, new { @class = "btn btn-dark" })
        </div>
    }
</div>

<br />

<div>
    @ViewBag.mensaje
</div>
