@model IEnumerable<ProyectoEFSRT.Models.Usuario>

@{
    ViewBag.Title = "IndexUsuario";
}

<h2>Lista Usuarios</h2>

@if (TempData["mensaje"] != null)

{

    <div class="alert alert-info alert-dismissible fade show" role="alert">

        <strong>@TempData["mensaje"]</strong>

        <button type="button" class="btn-close"
                data-bs-dismiss="alert" aria-label="Close">
        </button>

    </div>

}


<br />

<p>
    @Html.ActionLink("Nuevo Usuario", "CreateUsuario", null, new { @class = "btn btn-info" })
</p>

<p>
    <a href="@Url.Action("GenerarPdf", "Usuario")" class="btn btn-secondary">Generar PDF</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CtrUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTpu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorUs)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodUs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomUs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtrUs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTpu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstUs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorUs)
            </td>
            <td>
                @Html.ActionLink("Modificar", "EditUsuario", new { id = item.CodUs }, new { @class = "btn btn-success btn-sm" }) |
                @Html.ActionLink("Detalles", "DetalleUsuario", new { id = item.CodUs },new { @class = "btn btn-warning btn-sm" }) |
                @Html.ActionLink("Eliminar", "DeleteUsuario", new { id = item.CodUs }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
